
@{
}
<h3>Name : @ViewBag.name</h3>

<h3>Product Id   :<b class="product">@ViewBag.product.Id</b></h3>
<h3>Product Name :<b class="product">@ViewBag.product.Name</b></h3>
<h3>Product Price:<b class="product">@ViewBag.product.Price</b></h3>